/* Style for a minimalistic form */
h2 {
  font-size: 1.5rem; /* Ukuran font judul */
  text-align: center; /* Pusatkan teks */
  color: #7a573c; /* Warna judul */
  margin-bottom: 15px; /* Jarak bawah judul */
}
form {
  width: 300px; /* Atur lebar formulir menjadi lebih kecil */
  margin: 20px auto; /* Pusatkan formulir di halaman */
  padding: 15px; /* Kurangi padding untuk tampilan minimalis */
  background-color: #fff;
  border: 2px solid #d4af37; /* Warna border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan halus */
}
.keterangan {
  font-size: x-small; /* Ukuran font keterangan */
  color: #7d451f; /* Warna keterangan */
}

input[type="text"], /* Jenis input teks */
input[type="email"], /* Jenis input teks dan email */
input[type="password"], /* Jenis input teks, email, dan password */
textarea,
select {
  width: 90%; /* Kurangi lebar elemen input */
  padding: 8px; /* Kurangi padding */
  margin-bottom: 10px; /* Kurangi margin bawah */
  border: 1px solid #d4af37;
  border-radius: 4px; /* Sudut membulat */
  font-family: "Georgia", serif; /* Ubah jenis Font */
  font-size: 12px; /* Kurangi ukuran font */
  background-color: #fdf6e3;
  color: #333;
}

button {
  width: 90%; /* Sesuaikan lebar tombol */
  padding: 8px; /* Kurangi padding */
  background-color: #d4af37;
  border: none;
  border-radius: 4px; /* Sudut membulat */
  font-size: 14px; /* Kurangi ukuran font */
  color: #fff;
  cursor: pointer; /* Kursor pointer saat hover */
  font-family: "Georgia", serif; /* Ubah jenis Font */
}

textarea {
  height: 80px; /* Kurangi tinggi textarea */
}

footer {
  text-align: center;
  margin-top: 10px; /* Jarak atas footer */
  font-size: 12px; /* Ukuran font footer */
  color: #6b4226;
}
